@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  position: sticky;
  top: 0;
  max-height: 75px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.496);
  align-items: center;
  width: 100%;
  .head-elem {
    text-decoration: none;
    color: white;
    list-style-type: none;
    text-wrap: nowrap;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    padding: 10px 20px;
    gap: 5px;
    border-radius: 0 0 8px 8px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease-out;
      border-bottom: 1px solid;
    }
    .react-icons {
      fill: white;
    }
  }
  img {
    width: 200px;
    height: 75px;
    flex-grow: unset;
    border-radius: 20px;
    padding-right: 50px;
  }
}

body {
  //background-image: url("../../public/wall1.jpg");
  background-image: url("/wall.jpg");
  background-color: black;
  background-size: 170%;
  background-repeat: no-repeat;
  color: white;
  font-family: "DM Serif Display", serif;
}
p {
  font-family: "Karla", sans-serif;
}
