.wrappermod1 {
  //padding: 10vh 0;
  .container {
    //height: max(65vh, 300px);
    padding: 2rem;
    background-position: 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 2.5rem;
    p {
      padding: 20px 0;
      max-width: 1000px;
      line-height: 1.5rem;
    }
    form {
      z-index: 1;
      height: max(20vh, 300px);
      width: max(20vw, 500px);
      background-color: rgba(0, 0, 0, 0.23);
      background-image: url("/upload3.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 10rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 20px;
      outline: dashed 2px rgba(255, 255, 255, 0.52);
      outline-offset: -10px;
      border-radius: 15px;
      overflow: hidden;
      img {
        //max-width: max(20vw, 500px);
        //height: max(20vh, 300px);
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
      cursor: pointer;
      .input-field {
        display: none;
      }
    }
  }
  .submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max(20vw, 500px);
    .filequeue {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #submit {
      width: 180px;
      height: 50px;
      color: white;
      background-color: unset;
      outline: 3px solid white !important;
      border-radius: 7px;
      border: none;
      font-size: 1.8rem;
      outline: rgba(224, 224, 224, 0) dashed 2px;
      &:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        filter: drop-shadow(0px 0px 6px #ffffff);
        transition: all 0.2s ease;
        cursor: pointer;
      }
    }
  }
}
